
.h1{ text-align: center;
    color: rgb(0, 202, 152);
    font-size: 50px;
    background: rgb(153, 255, 233);
    font-family: 'Comic Sans Ms';
}
.calculator {
 padding: 20px;
 border-radius: 1vmax;
 height: 33em;
 width: 29em;
 margin: auto;
 background-color: white;
 box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
.display-box {
    font-weight: bolder;
    font-size: 20px;
    font-style: italic;

 font-family: 'Orbitron', sans-serif;
 background-color: #ddfcfa;
 border: solid rgb(119, 247, 240) 0.5px;
 border-radius: 5px;
 width: 100%;
height: 65%;
}
.button {
    font-weight: bolder;
    font-size: 20px;
    font-style: inherit;
    display: block;
 font-family: 'Comic Sans Ms';
 background-color: #ffffff;
 color: black;
 border: solid rgb(5, 221, 250) 0.5px;
 width: 70%;
 border-radius: 5px;
 height: 70%;
 outline: none;
}



